<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="sGridServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Mails\" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation targetFramework="4.0" debug="true" />
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-sGridServer-20130108192924;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="sGridServer.Properties.Settings.BlobRoot" connectionString="BlobRoot" />
  </connectionStrings>
  <applicationSettings>
    <sGridServer.Properties.Settings>
      <setting name="FacebookAppId" serializeAs="String">
        <value>XXXX</value>
      </setting>
      <setting name="FacebookAppSecret" serializeAs="String">
        <value>XXXX</value>
      </setting>
      <setting name="BannerWidth" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="BannerHeight" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="NewsImageWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="NewsImageHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="RewardIconWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="RewardIconHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ProfilePictureWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ProfilePictureHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="NotificationMailFromAddress" serializeAs="String">
        <value>notifications@sgrid.ipd.kit.edu</value>
      </setting>
      <setting name="CaptchaWidth" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="CaptchaHeight" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DefaultProfilePicture" serializeAs="String">
        <value>http://localhost:5469/Content/images/users/default.jpg</value>
      </setting>
      <setting name="ProfilePictureStorageContainer" serializeAs="String">
        <value>UserContainer</value>
      </setting>
      <setting name="DefaultAchievementPicture" serializeAs="String">
        <value>http://localhost:5469/Content/images/achievements/default.jpg</value>
      </setting>
      <setting name="AchievementPictureStorageContainer" serializeAs="String">
        <value>AchievementIcons</value>
      </setting>
      <setting name="AchievementIconWidth" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="AchievementIconHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="RewardIconStorageContainer" serializeAs="String">
        <value>RewardIcons</value>
      </setting>
      <setting name="DefaulRewardIcon" serializeAs="String">
        <value>http://localhost:5469/Content/images/rewards/default.jpg</value>
      </setting>
      <setting name="PartnerStorageContainer" serializeAs="String">
        <value>PartnerContainer</value>
      </setting>
      <setting name="ApplicationPasscode" serializeAs="String">
        <value />
      </setting>
      <setting name="SGridLogo" serializeAs="String">
        <value>http://localhost:5469/Content/images/sGrid.png</value>
      </setting>
      <setting name="MinimumClientVersion" serializeAs="String">
        <value>1</value>
      </setting>
    </sGridServer.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="GridPartnerAPIBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="GridPartnerAPIBehavior" name="sGridServer.API.Grid.GridPartnerAPI">
        <endpoint address="ws" binding="wsHttpBinding" contract="sGridServer.API.Grid.IGridPartnerAPI" />
        <endpoint address="" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="sGridServer.API.Grid.IGridPartnerAPI" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>