@model sGridServer.Models.Captcha

@{ 
    /*TODO EMI: Delete after testing */
    //******************************************************
    // This source file is only here for testing/debugging
    // and will be deleted. 
    //******************************************************
}
@{
    ViewBag.Title = "CaptchaTest";
}

<h2>@ViewBag.Message</h2>

@using (Html.BeginForm("CaptchaValidate", "Captcha"))
{
    @Html.EditorFor(model => model)

    <input type="submit" value="OK" />
}