<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sgrid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sgrid</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sgrid</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="sGridServer.Code.DataAccessLayer.SGridDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:m5kyldnywb.database.windows.net,1433;Initial Catalog=sGrid;User ID=sGridDba@m5kyldnywb;Password=Ä8\+1@7-LaÜ[5\:+Wz+Sh_fx9&gt;fJx0GÜ" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="sGridServer.Code.DataAccessLayer.SGridDbContext, sGridServer" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="sGridServer.Properties.Settings.BlobConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:m5kyldnywb.database.windows.net,1433;Initial Catalog=sGrid;User ID=sGridDba@m5kyldnywb;Password=Ä8\+1@7-LaÜ[5\:+Wz+Sh_fx9&gt;fJx0GÜ" />
          <Object Type="DbDacFx">
            <PreSource Path="UseDevelopmentStorage=true" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\sGridServer.Properties.Settings.BlobConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="UseDevelopmentStorage=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:m5kyldnywb.database.windows.net,1433;Initial Catalog=sGrid;User ID=sGridDba@m5kyldnywb;Password=Ä8\+1@7-LaÜ[5\:+Wz+Sh_fx9&gt;fJx0GÜ" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-sGridServer-20130108192924;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-sGridServer-20130108192924;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:m5kyldnywb.database.windows.net,1433;Initial Catalog=sGrid;User ID=sGridDba@m5kyldnywb;Password=Ä8\+1@7-LaÜ[5\:+Wz+Sh_fx9&gt;fJx0GÜ</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sGridServer.Code.DataAccessLayer.SGridDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:m5kyldnywb.database.windows.net,1433;Initial Catalog=sGrid;User ID=sGridDba@m5kyldnywb;Password=Ä8\+1@7-LaÜ[5\:+Wz+Sh_fx9&gt;fJx0GÜ</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sGridServer.Properties.Settings.BlobConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:m5kyldnywb.database.windows.net,1433;Initial Catalog=sGrid;User ID=sGridDba@m5kyldnywb;Password=Ä8\+1@7-LaÜ[5\:+Wz+Sh_fx9&gt;fJx0GÜ</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="sGridServer.Code.DataAccessLayer.SGridDbContext" />
  </ItemGroup>
</Project>