@{
    ViewBag.Title = "Join";
}
<p>
This is how sGrid works. sGrid is a software system which enables a reasonable use of computing capacity, which is currently not needed by a computer. Since an idled computer also consumes power, sGrid makes it possible to share these resources with charitable projects. This way, the electricity is not wasted. 
Furthermore, users are motivated by custom feedback, social interaction, a reward system and a user-friendly graphical interface.
</p>
<p style="text-align: center">
    <img src="../../Content/images/diagrams/sGrid.png" alt="sGrid" widht="640px" height="480px"/>
</p>
<p>
Join now! sGrid provides a new way to use surplus IT-resources by enabling volunteers to participate in distributed computing for charitable projects in an easy and intuitive way.   
</p>
<p style="text-align: center; margin: 20px;">
    <a href=""><img src="../../Content/images/buttons/join.png" alt="Join" style="border: none" width="200px" height="100px"/></a> 
</p>
<p>
A typical use case of sGrid is described in the following section. A user can register with his e-mail address or through OAuth- or OpenId-Providers, such as Facebook. After this, the server application registers the user automatically with the corresponding Grid Partner, which enables sGrid to request statistics und performance reports of the user from this Grid Partner through web-based XML-interfaces. When the user downloads and installs the client application, the client application receives settings and user information from the server application through a WCF interface. With this information, work units can be requested from the Grid Partner. As soon as having finished the calculation on a work unit, the result will be submitted back to the Grid Partner, while the server application will be informed of this event. The client application can now continue work on a new unit.
</p>