@using Resource = sGridServer.Resources.About.AboutUs

@{
    /*This view shows a website page which shortly describes the sGrid team and the project 
     * and gives an overview about how to use sGrid system. */
}

<h1>@Resource.AboutUsText</h1>
@Html.Raw(Resource.Text)