@{
    /* The partial LanguageSelection view is responsible for rendering the language selection. */
}

<li>
    <a href="#" id="sg_language_selection" class="last-item">@sGridServer.Code.Utilities.LanguageManager.CurrentLanguage.Name</a>
</li>