@model Account
@using Resource = sGridServer.Resources.FacebookIdProvider.Inactive

@{
    ViewBag.Title = Resource.Title;
}
<p>
    @Resource.Description
</p>

<p style="font-size: 10em; text-align: center;">
    )':
</p>