@using Resource = sGridServer.Resources.Contact.ContactConfirm

@{
    ViewBag.Title = Resource.Title;

    //This view shows a confirmation message about sending a message.
}

<p>@Resource.ContactConfirmText</p>
