@using Resource = sGridServer.Resources.AppConfiguration.NewsConfirm

@{
    ViewBag.Title = Resource.NewsConfirmText;
    
    //This view shows a confirmation message about adding a news.
}

<p>@Resource.ConfirmText</p>