<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sGrid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientApi" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5469/API/Client/ClientApi.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientApi"
                contract="sGridClientApi.IClientApi" name="BasicHttpBinding_IClientApi" />
        </client>
    </system.serviceModel>
    <userSettings>
        <sGrid.Properties.Settings>
            <setting name="CurrentProjectShortName" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentProjectName" serializeAs="String">
                <value />
            </setting>
        </sGrid.Properties.Settings>
    </userSettings>
</configuration>