@using Resource = sGridServer.Resources.Help.HelpContactConfirm

@{
    ViewBag.Title = Resource.Title;

    //This view shows a confirmation message about sending a message.
}

<p>@Resource.HelpContactConfirmText</p>
